DB_USER=postgres
DB_PASSWORD=docker
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=recruitment
DB_SCHEMA=task

DATABASE_URL="postgresql://postgres:docker@db:5432/recruitment?schema=task&sslmode=prefer"
SHADOW_DATABASE_URL="postgresql://postgres:docker@db:5432/recruitment?schema=dbmigration&sslmode=prefer"